<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>
<body>
     <div class="relative flex flex-col min-h-screen bg-slate-200">
      <%- include ('../partials/header') %>

      <div class="flex flex-row">
        <div class="lg:w-[220px] lg:p-4">
          <%- include ('../partials/sidebar') %>
        </div>
        <main
          class="relative top-16 p-4 overflow-auto lg:w-[calc(100%-220px)] w-full bg-slate-200">
            <div class="mb-2">
              <h1 class="text-3xl font-semibold text-gray-800">Add category</h1>
              <p class="text-sm text-gray-500 mt-1">
                Use this form to add categories to your database.
              </p>
            </div>

           <!-- Form Fields -->
        <form action="/addCategories" method="post" class="bg-white rounded-xl shadow p-6 space-y-6 border border-gray-100">
            <!-- categories Name -->
             <div class="flex flex-col justify-between items-start">
                <h1 class="text-2xl font-semibold">Add Categories</h1>
                <p class="text-xs text-gray-400 py-2">use this form to add category to database..</p>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 items-center">
                <label class="text-gray-700 font-medium">Categories <span class="text-red-500">*</span> </label>
                <input type="text" name="category_name" class="sm:col-span-2 px-4 py-2 border rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Categories">
            </div>

            
            <!-- Submit Button -->
            <div class="flex justify-center items-center ">
                <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-2 rounded-md text-sm font-semibold transition duration-200">Add Categories</button>
            </div>
        </form>
        <%- include ('../partials/footer') %>
        </main>
    </div>

   </div>
</body>
</html>