<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>
<body>
   <div class="relative flex flex-col min-h-screen bg-slate-200">
     <%- include ('../partials/header') %>

    <div class="flex flex-row">
        <div class="w-[220px] p-4"><%- include ('../partials/sidebar') %></div>
        <main
          class="cal relative top-16 p-4 overflow-auto"
          style="width: calc(100% - 220px)">
            <div class="flex flex-row justify-between items-center">
                <h1 class="text-2xl font-semibold text-gray-600">Add Staff</h1>
            </div>

           <!-- Form Fields -->
        <form action="/addStaffs" method="post" class="mt-4 space-y-4 bg-white text-sm p-6 border border-gray-200">
            <div class="flex flex-col justify-between items-start">
                <h1 class="text-2xl font-semibold">Add Staff</h1>
                <p class="text-xs text-gray-400 py-2">use this form to add Staff to database..</p>
            </div>
            <!-- Staff User Name -->
            <div class="grid grid-cols-3 items-center">
                <label class="text-gray-700 text-sm">User Name <span class="text-red-500">*</span></label>
                <input type="text" name="userName" class="col-span-2 border-b border-gray-400  py-2 w-full" placeholder="User Name">
            </div>
            <!-- Staff Full Name -->
            <div class="grid grid-cols-3 items-center">
                <label class="text-gray-700 text-sm">Full Name <span class="text-red-500">*</span></label>
                <input type="text" name="fullName" class="col-span-2 border-b border-gray-400  py-2 w-full" placeholder="Full Name">
            </div>
            <!-- Password -->
            <div class="grid grid-cols-3 items-center">
                <label class="text-gray-700 text-sm">Password <span class="text-red-500">*</span></label>
                <input type="password" name="password" class="col-span-2 border-b border-gray-400  py-2 w-full" placeholder="Password">
            </div>


            <!-- User Type -->
            <div class="grid grid-cols-3 items-start">
                <label class="text-gray-700 text-sm">User Type</label>
                <select name="address" class="col-span-2 border-b border-gray-400 py-2 w-full" rows="3" placeholder="Address"> 
                    <option value="Select User Type ">Select User Type </option>
                    <option value="Admin">
                       Admin 
                    </option>
                    <option value="Staff">Staff</option>    
                </select>
            </div>

            <!-- Submit Button -->
            <div class="flex justify-center items-center ">
                <button class="bg-[#3e70c9]  text-white px-3 py-1 text-sm hover:bg-blue-700">Add Loaner</button>
            </div>
        </form>
        </main>
    </div>

   </div>
</body>
</html>